.Search .form-control {
  width: 250px;
  display: inline;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1.075) !important;
}

.Search .form-control:hover {
  background-color: rgba(232, 232, 246, 1);
}

.Search .search-button {
  background: rgba(181, 101, 118, 1);
  border-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1.075) !important;
  transition: all 150ms ease-in-out;
}
.Search .btn.search-button:hover {
  background-color: rgba(92, 99, 106, 1);
  border-color: whitesmoke;
  cursor: pointer;
}

.Search .current-button {
  background: rgba(92, 99, 106, 1);
  border-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1.075) !important;
  transition: all 150ms ease-in-out;
}
.Search .btn.current-button:hover {
  background: rgba(181, 101, 118, 1);
  border-color: whitesmoke;
  cursor: pointer;
}
