.WeatherApp body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}
.WeatherApp h1,
h2,
h3 {
  text-align: left;
}
.WeatherApp h1 {
  padding-top: 20px;
  font-size: 90px;
}

.WeatherApp .container {
  max-width: 1000px;
  opacity: 90%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 0;
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 80px;
  background: linear-gradient(
    125deg,
    rgb(188, 180, 207) 30%,
    rgb(81, 112, 191) 100%
  );
}

.WeatherApp .border {
  padding: 50px;
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 80px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.WeatherApp .main-weather-elemts-row {
  margin: 0 auto;
  max-width: 800px;
}
